<% provide(:title, "Compare") %>
<h1>Compare</h1>
<p>
    This page will compare the PvP stats of two destiny accounts/characters
</p>
<div class="compare-container">
    <!-- Headers -->
    <div class="player-header-container">
        <!-- Player 1 header -->
        <div class="player-card-header">
            Player 1 Header
        </div>
        <!-- Comparison column header -->
        <div class="compare-column-header">
            Comparison Column <!-- What a name! -->
        </div>
        <!-- Player 2 header -->
        <div class="player-card-header">
            Player 2 Header
        </div>
    </div>

    <!-- Stat cards -->
    <div class="stat-card-container">
        <!-- Multiple stat card rows -->

        <!-- Primary Weapon row -->
        <hr>
        <div class="stat-card-row">
            <!-- Player 1 stat card -->
            <div class="stat-card">
                <div class="stat-card-header">Primary Weapon Kills</div>
                <div class="stat-card-stat">Scout Rifle : 130</div>
                <div class="stat-card-stat">Pulse Rifle : 120</div>
                <div class="stat-card-stat">Hand Cannon : 110</div>
                <div class="stat-card-stat">Auto Rifle  : 100</div>
            </div>
            <!-- Comparison column -->
            <div class="stat-compare-column">
                <br/>
                <div class='compare-stat'>130 - 50</div>
                <div class='compare-stat'>120 - 60</div>
                <div class='compare-stat'>110 - 70</div>
                <div class='compare-stat'>100 - 80</div>
            </div>
            <!-- Player 2 stat card -->
            <div class="stat-card">
                <div class="stat-card-header">Primary Weapon Kills</div>
                <div class="stat-card-stat">Scout Rifle : 50</div>
                <div class="stat-card-stat">Pulse Rifle : 60</div>
                <div class="stat-card-stat">Hand Cannon : 70</div>
                <div class="stat-card-stat">Auto Rifle  : 80</div>
            </div>
        </div>

        <!-- Secondary Weapon row -->
        <hr>
        <div class="stat-card-row">
            <!-- Player 1 stat card -->
            <div class="stat-card">
                <div class="stat-card-header">Secondary Weapon Kills</div>
                <div class="stat-card-stat">Sniper Rifle : 130</div>
                <div class="stat-card-stat">Fusion Rifle : 120</div>
                <div class="stat-card-stat">Shotgun :      110</div>
                <div class="stat-card-stat">Side Arm :     100</div>
            </div>
            <!-- Comparison column -->
            <div class="stat-compare-column">
                <br/>
                <div class='compare-stat'>130 - 30</div>
                <div class='compare-stat'>120 - 20</div>
                <div class='compare-stat'>110 - 10</div>
                <div class='compare-stat'>100 - 0</div>
            </div>
            <!-- Player 2 stat card -->
            <div class="stat-card">
                <div class="stat-card-header">Secondary Weapon Kills</div>
                <div class="stat-card-stat">Sniper Rifle : 30</div>
                <div class="stat-card-stat">Fusion Rifle : 20</div>
                <div class="stat-card-stat">Shotgun :      10</div>
                <div class="stat-card-stat">Side Arm :     0</div>
            </div>
        </div>

    </div>
</div>
