<% provide(:title, "Compare") %>
<h1>Compare</h1>
<p>
    This page will compare the PvP stats of two destiny accounts/characters
</p>
<div class="compare-container">
    <!-- Headers -->
    <div class="player-header-container">
        <!-- Player 1 header -->
        <div class="player-card-header">
            Player 1 Header
        </div>
        <!-- Comparison column header -->
        <div class="compare-column-header">
            Comparison Column <!-- What a name! -->
        </div>
        <!-- Player 2 header -->
        <div class="player-card-header">
            Player 2 Header
        </div>
    </div>

    <!-- Stat cards -->
    <div class="stat-card-container">
        <!-- Multiple stat card rows -->

        <!-- Primary Weapon row -->
        <hr>
        <div class="stat-card-row">
            <!-- Player 1 stat card -->
            <div class="stat-card">
                Player 1 Primary Weapon Kills <br/>
                Scout Rifle : 130 <br/>
                Pulse Rifle : 120 <br/>
                Hand Cannon : 110 <br/>
                Auto Rifle  : 100 <br/>
            </div>
            <!-- Comparison column -->
            <div class="stat-compare-column">
                <br/>
                130 - 50 <br/>
                120 - 60 <br/>
                110 - 70 <br/>
                100 - 80 <br/>
            </div>
            <!-- Player 2 stat card -->
            <div class="stat-card">
                Player 2 Primary Weapon Kills <br/>
                Scout Rifle : 50 <br/>
                Pulse Rifle : 60 <br/>
                Hand Cannon : 70 <br/>
                Auto Rifle  : 80 <br/>
            </div>
        </div>

        <!-- Secondary Weapon row -->
        <hr>
        <div class="stat-card-row">
            <!-- Player 1 stat card -->
            <div class="stat-card">
                Player 1 Secondary Weapon Kills <br/>
                Sniper Rifle : 130 <br/>
                Fusion Rifle : 120 <br/>
                Shotgun : 110 <br/>
                Side Arm  : 100 <br/>
            </div>
            <!-- Comparison column -->
            <div class="stat-compare-column">
                <br/>
                130 - 30 <br/>
                120 - 20 <br/>
                110 - 10 <br/>
                100 - 0 <br/>
            </div>
            <!-- Player 2 stat card -->
            <div class="stat-card">
                Player 2 Secondary Weapon Kills <br/>
                Sniper Rifle : 30 <br/>
                Fusion Rifle : 20 <br/>
                Shotgun : 10 <br/>
                Side Arm  : 0 <br/>
            </div>
        </div>

    </div>
</div>
