<% provide(:title, "Compare") %>
<h1>Compare</h1>
<p>
    This page will compare the PvP stats of two destiny accounts/characters
</p>
<div class="compare-container">
    <!-- Headers -->
    <div class="player-header-container">
        <!-- 3 Columns -->
        <div class="stat-card-header">
            Player 1 Header
        </div>
        <div class="">
            <!-- Empty column? Spacing same as comparison column below -->
        </div>
        <div class="stat-card-header">
            Player 2 Header
        </div>
    </div>

    <!-- Stat cards -->
    <div class="stat-card-container">

        <!-- Multiple stat card rows -->
        <div class="stat-card-row">
            <!-- 3 Columns -->
            <div class="stat-card">
                Player 1 Primary Weapon Kills <br/>
                Scout Rifle : 130 <br/>
                Pulse Rifle : 60 <br/>
                Hand Cannon : 55 <br/>
                Auto Rifle  : 101 <br/>
            </div>
            <div class="stat-compare-column">
                <!-- Comparison column -->
            </div>
            <div class="stat-card">
                Player 2 Primary Weapon Kills <br/>
                Scout Rifle : 130 <br/>
                Pulse Rifle : 60 <br/>
                Hand Cannon : 55 <br/>
                Auto Rifle  : 101 <br/>
            </div>
        </div>

    </div>
</div>
