<% provide(:title, "Home") %>
<h1>Destiny PvP Tracker Ruby app</h1>
<p>
    This is the home page for the tracker app. <br/>
    This will prompt the user to input destiny player names to look up and compare PvP stats
</p>