<div class="stat-card">
    <div class="stat-card-header">Primary Weapon Kills</div>
    <div class="stat-card-stat">Scout Rifle : <%= user.scout %></div>
    <div class="stat-card-stat">Pulse Rifle : <%= user.pulse %></div>
    <div class="stat-card-stat">Hand Cannon : <%= user.hand %></div>
    <div class="stat-card-stat">Auto Rifle  : <%= user.auto %></div>
</div>