<% provide(:title, "Compare") %>
<h1>Compare</h1>
<p>
    This page will compare the PvP stats of two destiny accounts/characters
</p>
<div class="compare-container">
    <!-- Headers -->
    <div class="player-header-container">
        <!-- Player 1 header -->
        <div class="player-card-header">
            Player 1 Header ID: <%= @user1.user_id %>
        </div>
        <!-- Comparison column header -->
        <div class="compare-column-header">
            Comparison Column <!-- What a name! -->
        </div>
        <!-- Player 2 header -->
        <div class="player-card-header">
            Player 2 Header ID: <%= @user2.user_id %>
        </div>
    </div>

    <!-- Stat cards -->
    <div class="stat-card-container">
        <!-- Multiple stat card rows -->

        <!-- Primary Weapon row -->
        <hr>
        <div class="stat-card-row">
            <%= render partial: 'primary_stat_card', locals: { user1: @user1, user2: @user2 } %>
        </div>

        <!-- Special Weapon row -->
        <hr>
        <div class="stat-card-row">
            <%= render partial: 'special_stat_card', locals: { user1: @user1, user2: @user2 } %>
        </div>

    </div>
</div>
