<h1>Show Character</h1>

<% if not @player.nil? %>
    <p>
        DisplayName: <%= @player.display_name %>
        <br/>
        MembershipID: <%= @player.membership_id %>
        <br/>
        Membership Type: <%= @player.membership_type %>
        <br/>
        Icon Path: <%= @player.icon_path %>
    </p>
<% else %>
    <p>Player not found</p>
<% end %>