<h1>Show Character</h1>

<p>
    DisplayName: <%= @displayName %>
    <br/>
    MembershipID: <%= @hash["Response"][0]["membershipId"] %>
    <br/>
    Membership Type: <%= @hash["Response"][0]["membershipType"] %>
    <br/>
    Icon Path: <%= @hash["Response"][0]["iconPath"] %>
    <br/>
</p>
